 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
  }

  .header-left{
    display: flex;
  }
  
  /* .header-left img {
    height: 35px;
    margin-left: 50px;
  } */

  .header-left h1 {
    height: 35px;
    margin-left: 50px;
    margin-top: -10px;
    color: blue;
    font-size: 40px;
  }

  .header-left button {
    padding: 4px 20px;
    margin-top: 4px;
    margin-left: 15px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color:rgb(74, 74, 74);
    box-shadow: 0px 2px 10px 1px blue;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    margin-top: -20px;
  } 
  
  .header-toggle i {
    font-size: 1.5rem;
  }
  
  .header-links {
    display: flex;
  }
  
  .header-button {
    margin-right: 50px;
    padding: 10px 35px;
    background-color:white;
    color:rgb(74, 74, 74);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 550;
    border:none;
    box-shadow: 0px 2px 15px 1px blue;
    font-size: 15px;
  }
  
  .header-button:hover {
    background-color: #61da67;
  } 
  
  /* Responsive Styles */
  
 @media (max-width: 768px) {
    .header {
      flex-wrap: wrap;
      /* padding: 1px; */
    }
  
    .header-left {
      margin-bottom: 10px;
    }

    .header-left h1 {
      height: 35px;
      margin-left: 2px;
      margin-top: -10px;
      color: blue;
      font-size: 35px;
    }
  
    .header-right {
      flex: 1;
      justify-content: flex-end;
     
    }
  
    .header-toggle {
       display: block; 
    }

  
  
    .header-links {
      display: none;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
    }
  
    .header-links.open {
      display: flex;
    }
  
    .header-button {
      margin-left: 0;
      margin-bottom: 10px;
    }

    .header-left img {
      margin-left: 0px;
    }
  } 
