.main-heading {
    display: flex;
    width: 100%;
    max-width: 95%;
    flex-direction: column;
    flex-shrink: 0;
    color: blue;
    text-align: center;
    justify-content: center;
    font-size: 350%;
    margin: 110px auto 0;
    font-weight: 550;
  }
  
  .para1{
    display: flex;
    width: 100%;
    max-width: 70%;
    height: 58px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgb(71, 69, 69);
    text-align: center;
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 4000;
    line-height: normal;
    letter-spacing: 2px;
    margin: 30px auto;
  }

.email{
  text-align: center;
  font-size: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
  margin-bottom: 50px;
  color: blue;
  font-weight: 600;
}

.para2{
  text-align: center;
  font-size: 25px;
  margin-left: 16%;
  margin-right: 16%;
  color:rgb(74, 74, 74);
  margin-top: -20px;
}


  .big-img>img{
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
  }


  .big-img>h1{
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 100px;
    color: blue;
    font-size: 5rem;
  }

  
  


/* responsive code */
  @media (max-width: 1000px) {
      .photos{
        display: none;
      }
  }

  @media (max-width: 768px) {
    .main-heading {
      display: flex;
      width: 100%;
      max-width: 96%;
      flex-direction: column;
      flex-shrink: 0;
      color: blue;
      text-align: center;
      justify-content: center;
      font-size: 30px;
      margin: 60px auto 0;
    }
    
    .para1{
      display: flex;
      max-width: 90%;
      flex-direction: column;
      color:rgb(74, 74, 74);
      text-align: center;
      font-family: DM Sans;
      font-size: 25px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.24px;
      margin: 40px auto 0;
    }
    
    .btn1{
      display: flex;
      padding: 12px 35px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 30px;
      background: #FFF;
      color: black;
      margin: 30px auto;
      border: none;
      font-weight: 550;
      cursor: pointer;
    }
  
    .btn1:hover{
      background-color: #45a049;
    }
    
    svg {
      width: 32px;
      height: 44px;
      flex-shrink: 0;
      display: flex;
      margin: 40px auto;
    }
  
  .email{
    text-align: center;
    font-size: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
    .big-img>h1{
      /* width: 70%; */
      display: flex;
      margin: auto;
      justify-content: center;
      margin-top: 100px;
      color: blue;
      font-size: 4rem;
    }
  
  }